*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url("img.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 500px;
    height: 400px;
}

.header{
    font-size: 20px;
    border: solid 2px beige;
    color:beige ;
    background-color: rgb(10, 34, 34);
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}
.header h2{
    font-family: Haettenschweiler;
}

.main-content{
    width: 100%;
    height: 300px;
    background-color: rgb(235, 225, 225);
    border-radius: 15px;
    padding: 50px;
    box-shadow: 5px 5px 10px;
}

.main-content .text{
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.quotes{
    font-family: Haettenschweiler;
    font-size: 1.7rem;
}
 
.main-content .person{
    font-size: 1.5rem;
    color: brown;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.btn-area button{
    background-color: rgb(10, 34, 34);
    color: beige;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: Haettenschweiler;

}

.btn-area button:active{
    background-color: lightblue;
 }
